{% extends 'base.html.twig' %}

{% block title %}Edit ImageUpload{% endblock %}

{% block body %}
    <h1>Edit ImageUpload</h1>

    {{ include('image_upload/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_image_upload_index') }}">back to list</a>

    {{ include('image_upload/_delete_form.html.twig') }}
{% endblock %}
